---
layout: main
tags: p5sketch
---

<h2>{{ title }}</h2>
<div id="sketch-wrapper"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script src="../{{ sketch-name }}.js"></script>
{{ content }}
