---
title: Ellis Caird
layout: main
---

<h1>Who am I?</h1>
<p>My name is Ellis Caird and I am a third year PhD student at the University of Bath
under the supervision of <a href="https://people.bath.ac.uk/masadk">Alastair King</a></p>

<h1>What do I do?</h1>

<h1>Who is this website for?</h1> 
<p> Old website can be found <a href="/old">here</a>. </p>
