---
title: Ellis Caird
layout: main
---

<h2>Welcome to my website!</h2>

<p>
    $$ \int_{-\infty}^{\infty} e^{-x^2} dx = \sqrt{\pi} $$
    $$ \Hom(A, B) = \{ f \in \Hom(A, B) \mid f \text{ is an isomorphism} \} $$
</p>

Old wesite can be found [here](https://icaird.github.io/old).
