---
    layout: main
    title: Teaching
---

<h2>{{ title }}</h2>

<ul style="font-size: 20">
    <li> Analysis 1A and Algebra 1B tutor at the University of Bath from 2021 to 2024.</li>
    <li> (Senior) <a href="https://www.bath.ac.uk/professional-services/mathematics-resources-centre-mash/">MASH Peer Tutor</a>
    at Bath from (2021) 2019 to present.  </li>
    <li> Head tutor of the <a href="https://wesolveproblems.org.uk/maths-circles/">Maths Circle</a>  at Bath from 2022 to present.</li>
</ul>
